.add_div{
    width: 70vh;
    height:auto;
    /* border:2px solid red; */
    margin: auto;
    border-radius: 30px;
    margin-top: 2.5%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    padding-top: 1%;
    padding-bottom: 2%;
    background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAIQA6wMBIgACEQEDEQH/xAAXAAADAQAAAAAAAAAAAAAAAAAAAgMB/8QAGRABAQEBAQEAAAAAAAAAAAAAABEBEgIh/8QAGAEBAQEBAQAAAAAAAAAAAAAAAAECAwf/xAAXEQEBAQEAAAAAAAAAAAAAAAAAERIB/9oADAMBAAIRAxEAPwCGeTcnzybPKPQudJnlsPy3kapI2HjcwWpwRSCBU4IpG8hUoIpG8hU4IeN5CpQRSCBU4IpBAqcEUggVOCKQQKnBuKQchU4yKRnIVLfLOVt8l3yM96jvkvK2+WQSrZ5bnk+YbPKxjRI2HjeSLU43lTkchU4IpyOQqfLZD55byQqfI5U5ECp8jlSCBU+RypBAqfI5UggVPkcqQckKnyyKwchUoIpyOQqfLIryzkKlvlm+VoXcRKlvkvK0ZyJVcxuYfMbG3OkzGw+Y3lFpIIeCLFpI2GhuSFTginI5IVOCKcjkhU4IpyOSFTginI5IVOCKcjkhU4IpyOSFTginI5IVKCKcshCkgh4IQqcZFORyRKjvlkW5LyiVXMbmNzD5iudJmNho2C0kEPGwKTkQ8HIUkEPBApIIeCBSQQ8ECkgh4IFJBDwQKSCHggUkEPBApIyKciBU4IeCBU4NxSM3AqUZFNxkEqmZ8bmNzD5jNc6WNhoIVaWCHghSk5bDQQpSwQ0EKUsENBClLBDQQpSwQ0EKUsENBClLBDQQpSwQ0EKUkHJ4IUpIIeMhSkjNxTcZuFKnuFim4yFSqZjY3MNmMVzrIOTQ0KtJBmHghTReRyaCFWl5HJoIUpeRyeMhSl5HJ8wQpScjk8EKUnI5PBClJyOTwQpScjk0bClJyOTxkKmiRnKkEKaTjNxTcZuFKnuFim4WFSqZhswYfGK51mY2Njcwq0sbDRsKUkEPBClJBFIIU0nBFIIU0nBFIIU0nBFIIU0nBFIIU0nyIeNhTScEUjIU0SCHghSpwQ8ZClJC7im4yFSp7hYppYUpsPmM84fMc65VuNgNmFWsENGwpSiHzyIaWkgho2FKWMinLIUpIIeCFKWM3FORDRU8wRSCGipwRSMhopIIaNhSkjIpGQ0UkYeMKlJuF3FC6Uqe4U+lhUrfKmAMM8MYAVuNABoARWwMCjWgAAAgwAA0AAwMANYAoGAACgCF0oAE9FAEf//Z');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
input::file-selector-button {
    font-weight:500;
    color: rgb(129, 127, 127);;
    padding: 0.7em;
    width: 50%;
    background-color: white;
    margin-left: 0.5%;
    border-radius: 20px;
    border: none;
    outline: none;
}
.add_div h1{
    /* margin-left: 17%; */
    /* color: #fc2779; */
    /* margin-top: 15%; */
    margin-bottom: 6%;
    font-weight: bold;
    text-align: center;
    font-size: 34px;
    margin-top: 3%;
}
.add_div h5{
    /* margin-left: 15%; */
    text-align: center;
    margin-top: 7%;
    font-size: 14px;
    margin-bottom: 2%;
    color:black
}
.input{
    height: 50px;
    width: 70%;
    margin-left: 15%;
    border-radius: 25px;
    border: 2px solid rgb(190, 182, 182);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 1%;
    /* border: none;
    outline: none; */
}
.add_div h4{
    margin-top: 4%;
    font-size: 19px;
    font-weight: 600;
    margin-left: 15%;
}
.add_div .buton{
    margin-top: 8%;
    width: 70%;
    margin-left: 15%;
    height: 40px;
    border-radius: 10px;
    font-size: 24px;
    background-color: black;
    color:white;
    border:none;
    margin-bottom: 2%;
}
@media only screen and (max-width:395px)  {
    .add_div{
        width: 60vh;
        height:auto;
        margin: auto;
        margin-top: 12%;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
        padding-top: 3%;
        padding-bottom: 4%;
    }
    .add_div h1{
        margin-top: 5%;
    }
}

@media only screen and (min-width:396px) and (max-width:520px){
    .add_div{
        width: 60vh;
        height:auto;
        margin: auto;
        margin-top: 7%;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
        padding-top: 3%;
        padding-bottom: 4%;
    }
    .add_div h1{
        margin-top: 7%;
    }
}
@media only screen and (min-width:521px) and (max-width:780px){
    .add_div{
        width: 60vh;
        height:auto;
        margin: auto;
        margin-top: 4%;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
        padding-top: 3%;
        padding-bottom: 4%;
    }
    .add_div h1{
        margin-top: 3%;
        /* text-align: center; */
        font-size: 27px;
        margin-left: 11%;
    }
}
@media only screen and (min-width:781px) and (max-width:935px){
    .add_div{
        width: 70vh;
        height:auto;
        margin: auto;
        margin-top: 4%;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
        padding-top: 3%;
        padding-bottom: 4%;
    }
    .add_div h1{
        margin-top: 3%;
    }
}
@media only screen and (min-width:936px) and (max-width:1180px){
    .add_div{
        width: 60vh;
        height:auto;
        margin: auto;
        margin-top: 3%;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
        padding-top: 3%;
        padding-bottom: 4%;
    }
    .add_div h1{
        margin-top: 3%;
    }
}