.main_pro{
    display: grid;
    width:70%;
    margin:auto;
    grid-template-columns: repeat(3,1fr);
    /* border: 1px solid red; */
    gap:40px;
    margin-top: 11%;
    margin-right: 3%;
}

.opt{
    visibility: hidden;
    /* display: none; */
}

.opt2{
    visibility: hidden;
}

.opt select{
    height: 30px;
    width: 100%;
    font-size: 17px;
    /* background-color: #fc2779;
    color: white; */
}

.pro_main_prod{
    width:95%;
    margin: auto;
    display: flex;
}

.main_pro>div{
    display: block;
    margin: auto;
    text-align: center;
    width: 90%;
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.main_pro>div>img{
    width: 100%;
    height: 64%;
}
.main_pro>div>h2{
    font-size: 19px;
    margin-top: 11px;
}
.main_pro>div>p{
    font-size: 15px;
    margin-top: 5px;
}
.cartbtn{
    width: 140px;
    height: 50px;
    font-size: 60px;
    margin-bottom: 40px;
}

.pro_maind .p_sorted {
    width: 19%;
    height: auto;
    margin: auto;
    position: fixed;
    z-index: 1;  /* Set this to a positive value like 1 */
    margin-top: 0.1%;
    padding-bottom: 3%;
    margin-left: 3%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgb(0, 0, 0, 0.23) 0px 3px 6px;
}


.s2 h3{
    font-size: 22px;
}
@media only screen and (max-width:350px)  {
    .pro_maind{
         display: block;
         width: 95%;
    }
    .pro_maind .p_sorted{
        width: 100%;
        height: auto;
        margin: auto;
        display: flex;
        justify-content: space-around;
        position: relative;
        margin-top: 29%;
        padding-bottom: 3%;
        box-shadow: none;
        /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgb(0, 0, 0, 0.23) 0px 3px 6px; */
    }
    .pro_maind .p_sorted .s2{
        display: none;
    }
    .main_pro{
        display: grid;
        width:100%;
        margin:auto;
        grid-template-columns: repeat(1,1fr);
        gap:20px;
        margin-top: 7%;
    }
    .main_pro>div{
        width: 80%;
        height: 390px;
        /* border: 1px solid red; */
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .opt{
        visibility: visible;
        width: 57%;
        margin-top: 5%;
        border: none;
        /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    }
    .opt select{
        height: 30px;
        width: 95%;
        font-size: 15px;
        border: none;
        /* border: 2px solid black; */
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .opt2{
        visibility: visible;
        width: 42%;
        margin-top: 5%;
        /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    }
    .opt2 select{
        height: 30px;
        width: 95%;
        font-size: 14.5px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        /* background-color: #fc2779;
        color: white; */
        border: none;
    }
}
@media only screen and (min-width:351px) and (max-width:540px){

    .p_sorted h3{
        font-size: 20px;
    }
    .pro_maind{
        display: block;
        width: 95%;
   }
   .pro_maind .p_sorted{
       width: 90%;
       height: 40px;
       margin: auto;
       display: flex;
       justify-content: space-around;
       position: relative;
       margin-top: 21%;
       padding-bottom: 3%;
       box-shadow: none;
       /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgb(0, 0, 0, 0.23) 0px 3px 6px; */
   }
   .pro_maind .p_sorted .s2{
    display: none;
}
   .main_pro{
       display: grid;
       width:100%;
       margin:auto;
       grid-template-columns: repeat(2,1fr);
       gap:20px;
       margin-top: 7%;
   }
   .main_pro>div{
       width: 90%;
       height: 370px;
       /* border: 1px solid red; */
       box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   }
   .main_pro>div>img{
    width: 100%;
    height: 60%;
}
.opt{
    visibility: visible;
    width: 57%;
    margin-top: 1%;
    border: none;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}
.opt select{
    height: 30px;
    width: 95%;
    font-size: 15px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.opt2{
    visibility: visible;
    width: 42%;
    margin-top: 1%;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}
.opt2 select{
    height: 30px;
    width: 95%;
    font-size: 14.5px;
    /* background-color: #fc2779;
    color: white; */
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.main_pro>div h2{
    font-size: 17px;
   }
}
@media only screen and (min-width:541px) and (max-width:800px){
    .pro_maind{
        display: flex;
        width: 95%;
        justify-content: space-between;
   }
   .pro_maind .p_sorted{
       width: 26%;
       height: auto;
       margin: auto;
       display: block;
       justify-content: space-around;
       margin-top: 14%;
       padding-bottom: 3%;
       box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgb(0, 0, 0, 0.23) 0px 3px 6px;
   }
   .main_pro{
       width:69%;
       margin:auto;
       display: grid;
       grid-template-columns: repeat(2,1fr);
       gap:15px;
       margin-top: 15%;
       margin-right: 1%;
   }
   .main_pro>div{
       width: 90%;
       height: 390px;
       box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   }
   .main_pro>div h2{
    font-size: 17px;
   }
   .s2 h3{
    font-size: 19px;
   }
   label{
    font-size: 15px;
   }
}

@media only screen and (min-width:801px) and (max-width:940px){
    .pro_maind{
        display: flex;
        width: 95%;
        justify-content: space-between;
   }
   .pro_maind .p_sorted{
       width: 26%;
       height: auto;
       margin: auto;
       display: block;
       justify-content: space-around;
       position: fixed;
       margin-top: 8%;
       padding-bottom: 3%;
       box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgb(0, 0, 0, 0.23) 0px 3px 6px;
   }
   .main_pro{
       width:69%;
       margin:auto;
       display: grid;
       grid-template-columns: repeat(2,1fr);
       gap:15px;
       margin-top: 8%;
       margin-right: 1%;
   }
   .main_pro>div{
       width: 90%;
       height: 380px;
       /* border: 1px solid red; */
       box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   }
}
@media only screen and (min-width:941px) and (max-width:1040px){
    .pro_maind{
        display: flex;
        width: 95%;
        justify-content: space-between;
   }
   .pro_maind .p_sorted{
       width: 26%;
       height: auto;
       margin: auto;
       display: block;
       justify-content: space-around;
       position: fixed;
       margin-top: 5%;
       padding-bottom: 3%;
       box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgb(0, 0, 0, 0.23) 0px 3px 6px;
   }
   .main_pro{
       width:69%;
       margin:auto;
       display: grid;
       grid-template-columns: repeat(2,1fr);
       gap:15px;
       margin-top: 5%;
       margin-right: 1%;
   }
   .main_pro>div{
       width: 90%;
       height: 380px;
       /* border: 1px solid red; */
       box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   }
}