.s_main{
    width:76%;
    height:400px;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 12%;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.s_main>div:nth-child(1){
    width: 40%;
    height: 100%;
    /* border: 1px solid blue; */
    border-right: 1px solid gray;
    margin: auto;
}
.s_main>div:nth-child(2){
    width: 53%;
    height: 100%;
    /* border: 1px solid red; */
}

.s_main>.s_img>img{
    height:85%;
    width: 85%;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 7%;
    margin-left: 4%;
}

.s_main>.s_img+.info{
    display: block;
}
.s_main .info>.s_info{
    height: 85%;
    /* border: 1px solid red; */
    text-align: left;
}
.s_main .info>.s_info .sbtnss{
    /* border: 1px solid red; */
    height: 50px;
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 9px;

}
.s_main .info>.s_info .sbtnss i{
    font-size: 25px;
}
.button{
    height: 40px;
    width: 40%;
    font-size: 22px;
    color: white;
    background-color: black;
    border: none;
    margin-top:3%;
    /* margin-left: 2%; */
}
.s_main .info>.last{
    height: 13%;
    /* border: 1px solid red; */
    background-color: rgb(221, 219, 219);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -1.5%;
}
.s_main .info>.s_info>h5{
    margin-top: 3%;
}
h1{
    margin-top: 5%;
    font-size: 26px;
    font-weight: 500;
    margin-right: 7%;

}
.s_main .info>.s_info>h3{
    font-size: 16px;
    text-align: start;
    margin-right: 6%;
    margin-left: -1px;
    color: rgb(58, 56, 56);
    word-spacing: 3px;
    line-height: 24px;
    margin-top: 8px;
    /* margin-top: -3px; */
}
.s_main .info>.s_info> p{
    font-weight: 600;
    font-size: 16px;
    color: rgb(58, 56, 56);
    margin-right: 7%;
    margin-top: 7px;
}
.s_main .info>.s_info>h4>span{
    font-weight: bold;
    color: black;
}
.s_main .info>.s_info>h4{
    margin-top: 14px;
    font-weight: 500;
}
@media only screen and (max-width:395px)  {
    .s_main{
        width:90%;
        height:auto;
        /* border: 2px solid red; */
        margin: auto;
        margin-top: 30%;
        display: block;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .s_main>div:nth-child(1){
        width: 100%;
        height: 100%;
        margin: auto;
    }
    .s_main>div:nth-child(2){
        width: 90%;
        height: 100%;
        text-align: center;
    }
    h1{
        font-size: 20px;
        margin-right: 1%;
        text-align: left;
        margin-left: 17px;
    }
    .s_main .info>.s_info>h3{
        font-size: 14px;
        margin-right: -12px;
        text-align: left;
        margin-left: 17px;
        color: rgb(58, 56, 56);
        word-spacing: 3px;
        line-height: 22px;
        margin-top: 10px;
        /* margin-top: -3px; */
    }
    .s_main .info>.s_info> p{
        font-weight: 600;
        font-size: 16px;
        color: rgb(58, 56, 56);
        margin-right: -12px;
        text-align: left;
        margin-left: 17px;
        margin-top: 7px;
    }
    .s_main .info>.s_info>h4>span{
        font-weight: bold;
        color: black;
        margin-right: -12px;
        text-align: left;
        margin-left: 7px;
    }
    .s_main .info>.s_info>h4{
        margin-top: 10px;
        font-weight: 500;
        margin-right: -12px;
        text-align: left;
        margin-left: 17px;
    }
    .s_main .info>.s_info .sbtnss{
        /* border: 1px solid red; */
        height: 50px;
        width: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 9px;
        margin-right: -12px;
        margin-left: 17px;
        font-size: 14px;
    
    }
    i{
        font-size: 14px;
    }
    .button{
        height: 40px;
        width: 70%;
        font-size: 22px;
        color: white;
        background-color: black;
        border: none;
        margin-top:3%;
        margin-left: 17px;
        margin-bottom: 20px;
        /* margin-left: 2%; */
    }
}
@media only screen and (min-width:396px) and (max-width:600px){
    .s_main{
        width:90%;
        height:auto;
        /* border: 2px solid red; */
        margin: auto;
        margin-top: 21%;
        display: block;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .s_main>div:nth-child(1){
        width: 70%;
        height: 260px;
        margin: auto;
    }
    .s_main>div:nth-child(2){
        width: 90%;
        height: 100%;
        text-align: center;
    }
    h1{
        font-size: 20px;
        margin-right: 1%;
        text-align: left;
        margin-left: 17px;
    }
    .s_main .info>.s_info>h3{
        font-size: 14px;
        margin-right: -12px;
        text-align: left;
        margin-left: 17px;
        color: rgb(58, 56, 56);
        word-spacing: 3px;
        line-height: 22px;
        margin-top: 10px;
        /* margin-top: -3px; */
    }
    .s_main .info>.s_info> p{
        font-weight: 600;
        font-size: 16px;
        color: rgb(58, 56, 56);
        margin-right: -12px;
        text-align: left;
        margin-left: 17px;
        margin-top: 7px;
    }
    .s_main .info>.s_info>h4>span{
        font-weight: bold;
        color: black;
        margin-right: -12px;
        text-align: left;
        margin-left: 7px;
    }
    .s_main .info>.s_info>h4{
        margin-top: 10px;
        font-weight: 500;
        margin-right: -12px;
        text-align: left;
        margin-left: 17px;
    }
    .s_main .info>.s_info .sbtnss{
        /* border: 1px solid red; */
        height: 50px;
        width: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 9px;
        margin-right: -12px;
        margin-left: 17px;
        font-size: 15px
    }
    i{
        font-size: 14px;
    }
    .s_main .info>.s_info .sbtnss i{
        font-size: 20px;
    }
    .button{
        height: 40px;
        width: 70%;
        font-size: 22px;
        color: white;
        background-color: black;
        border: none;
        margin-top:3%;
        margin-left: 17px;
        margin-bottom: 20px;
        /* margin-left: 2%; */
    }
}
@media only screen and (min-width:601px) and (max-width:900px){
    .s_main{
        width:90%;
        height:400px;
        /* border: 1px solid red; */
        margin: auto;
        margin-top: 19%;
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .s_main>div:nth-child(1){
        width: 40%;
        height: 100%;
        /* border: 1px solid blue; */
        border-right: 1px solid gray;
        margin: auto;
    }
    .s_main>div:nth-child(2){
        width: 53%;
        height: 100%;
        /* border: 1px solid red; */
    }
    .s_main .info>.s_info .sbtnss i{
        font-size: 20px;
    }
    i{
        font-size: 16px;
    }
    .button{
        height: 40px;
        width: 70%;
        font-size: 22px;
        color: white;
        background-color: black;
        border: none;
        margin-top:3%;
        margin-left: 7px;
        margin-bottom: 20px;
        /* margin-left: 2%; */
    }
    
}
@media only screen and (min-width:901px) and (max-width:1050px){
    .s_main{
        width:90%;
        height:400px;
        /* border: 1px solid red; */
        margin: auto;
        margin-top: 15%;
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .s_main>div:nth-child(1){
        width: 40%;
        height: 100%;
        /* border: 1px solid blue; */
        border-right: 1px solid gray;
        margin: auto;
    }
    .s_main>div:nth-child(2){
        width: 53%;
        height: 100%;
        /* border: 1px solid red; */
    }
    .s_main .info>.s_info .sbtnss i{
        font-size: 20px;
    }
    i{
        font-size: 16px;
    }
    .button{
        height: 40px;
        width: 70%;
        font-size: 22px;
        color: white;
        background-color: black;
        border: none;
        margin-top:3%;
        margin-left: 7px;
        margin-bottom: 20px;
        /* margin-left: 2%; */
    }
    
}