.new_nav{
    width: 100%;
    height: 45px;
    background-color: white;
    position: fixed;
    top: 68px;
    z-index: 1;
    /* border-top: 1px solid rgb(212, 204, 204); */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.new_nav .nav_data{
    display: flex;
    justify-content:space-between;
}

.new_nav .nav_data .left_data{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    position: relative;
}

.nav-item {
    position: relative;
    display: flex;
    flex-direction: column;
}

Link{
    text-decoration: none;
}

.new_nav .nav_data .left_data p{
    color: black;
    font-weight: bold;
    font-size: 17px;
    margin-top: 14px;
    margin-bottom: 0;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;
    padding-bottom: 14px;
}

.new_nav .nav_data .left_data p:hover{
    color: #fc2779;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    border-radius: 4px;
}

.dropdown-item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    font-size: 15px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item:hover {
    background-color: #ffe6f0;
    color: #fc2779;
}

/* media query */
@media (max-width:808px){
    .new_nav{
       display: none;
    }
}